
 <Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
            <MenuItem Key="1">
                <NavLink href="/">
                <Icon Type="pie-chart" Theme="outline" />
                <span>首页</span>
                </NavLink>
            </MenuItem>
            <MenuItem Key="2">
                <NavLink href="userAdmin">
                <Icon Type="desktop" Theme="outline" />
                <span>用户管理</span></NavLink>
            </MenuItem>
            <MenuItem Key="3">
                <NavLink href="fileAdmin">
                <Icon Type="file" Theme="outline"/>
                <span>文件管理</span>
                </NavLink>
            </MenuItem>
            <MenuItem Key="34">
                <NavLink href="serverAdmin">
                <Icon Type="file" Theme="outline"/>
                <span>服务器管理</span>
                </NavLink>
            </MenuItem>
        </Menu>